---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Pagination from "@/components/Pagination.astro";
import SeriesNav from "@/components/SeriesNav.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { getUniqueSeries } from "@/utils/getSeries";
import { SITE } from "@/config";

const allPosts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(allPosts);
const series = getUniqueSeries(allPosts);
---

<Layout title={SITE.title}>
  <Header />
  <div class="relative">
    <SeriesNav {series} />
    <main id="main-content" data-layout="index" class="app-layout pb-4">
      <p class="mt-2 mb-6 italic">Deep dive into the code, so you don't have to.</p>
      <ul>
        {sortedPosts.map(data => <Card variant="h2" {...data} />)}
      </ul>
    </main>
  </div>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
